{% extends "ztorm_base.html" %}
{% block title %}ZTorm - {{ t('ztorm.reports.page_title') }}{% endblock %}
{% block content %}
<div class="access-window">
    <div class="access-title-bar"><span><i class="fas fa-chart-bar"></i> {{ t('ztorm.reports.page_title') }}</span></div>
    <div style="padding: 20px;">
        <div class="row">
            <div class="col-md-6">
                <h6 style="color: #2F5597;">{{ t('ztorm.reports.section_donations') }}</h6>
                <a href="{{ url_for('ztorm.report_donations') }}" class="switchboard-btn"><i class="fas fa-list"></i> {{ t('ztorm.reports.btn_donations_filtered') }}</a>
                <a href="{{ url_for('ztorm.report_donations', method='credit') }}" class="switchboard-btn"><i class="fas fa-credit-card"></i> {{ t('ztorm.reports.btn_donations_credit') }}</a>
                <a href="{{ url_for('ztorm.report_donations', method='hork') }}" class="switchboard-btn"><i class="fas fa-university"></i> {{ t('ztorm.reports.btn_donations_hork') }}</a>
                <a href="{{ url_for('ztorm.report_donations', method='cash') }}" class="switchboard-btn"><i class="fas fa-money-bill"></i> {{ t('ztorm.reports.btn_donations_cash') }}</a>
            </div>
            <div class="col-md-6">
                <h6 style="color: #2F5597;">{{ t('ztorm.reports.section_financial') }}</h6>
                <a href="{{ url_for('ztorm.report_payments') }}" class="switchboard-btn"><i class="fas fa-shekel-sign"></i> {{ t('ztorm.reports.btn_payments_filtered') }}</a>
                <a href="{{ url_for('ztorm.receipts') }}" class="switchboard-btn"><i class="fas fa-receipt"></i> {{ t('ztorm.reports.btn_receipts') }}</a>
                <a href="{{ url_for('ztorm.report_donations_export') }}" class="switchboard-btn"><i class="fas fa-file-excel"></i> {{ t('ztorm.reports.btn_export_excel') }}</a>
                <a href="{{ url_for('ztorm.report_payments', status='returned') }}" class="switchboard-btn"><i class="fas fa-undo"></i> {{ t('ztorm.reports.btn_returns') }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
